@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext');

body {
    font-family: "Lato", "Arial", sans-serif;
}

.App {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
}

.fluid-container {
    position: absolute;
    top: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.fluid-container .main-grid, .fluid-container>.container {
    height: 100%;
}

.fluid-container>.container {
    /* ?? */
    margin-top: 1rem;
}

.top-bar-container {
    height: 4rem;
    background: rgba(0,0,0,0.8);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border: 2px solid rgba(34,36,38,.15);
}

.top-bar-container h1 {
    color: #fff;
    padding-top: 0.5rem;
    padding-left: 1rem;
    font-variant: small-caps;
}

.sidebar {
    background: #fff;
    box-shadow: 0 2px 1px 0 rgba(34,36,38,.15);
    border-right: 2px solid rgba(34,36,38,.15);
}
.sidebar>.container {
    padding-left: 0.875rem;
}

.content {
    position: relative;
}

.xkcd-image {
    max-width: 360px;
}