@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext');

body {
    font-family: "Lato", "Arial", sans-serif;
}

.App {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
}

.fluid-container {
    position: absolute;
    top: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.fluid-container .main-grid, .fluid-container>.container {
    height: 100%;
}

.fluid-container>.container {
    /* ?? */
    margin-top: 1rem;
}

.top-bar-container {
    height: 4rem;
    background: #000;
}

.sidebar {
    background: #DDD;
}

.content {
    position: relative;
}
